<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ai 문장 정리</title>
    <style>
      body {
        margin: 0 auto;
        max-width: 1200px;
      }
    </style>
    <script type="text/javascript" th:src="@{/hanja.js}"></script>
</head>
<body>

<div style="center">
    <div th:replace="~{fragments/layout :: header}"></div>
    <br><br><br><br>
    <table border="1" style="margin-left: auto; margin-right: auto; text-align: center;">
        <tr>
            <td><b>번호</b></td>
            <td><b>한자</b></td>
            <td><b>뜻</b></td>
            <td><b>음독</b></td>
            <td><b>훈독</b></td>
            <td><b>자세히 보기</b></td>
        </tr>
        <tbody id = "kanji_table">
        <tr th:each="ai, num: ${kanjilist}">
            <form th:action="@{/details}" method="get">
                <td th:text="${num.count}"></td>
                <td th:text="${ai.kanji}"></td>
                <td>
                    <script th:inline="javascript">
                        var hanja = [[${ai.kanji}]];
                        var mean = hanjaDic[hanja];
                        if (mean) {
                            document.write(mean[0].def + " ");
                            document.write(mean[0].kor);
                        } else {
                            document.write("없음");
                        }
                    </script>
                </td>
                <td th:text="${ai.onndoku}"></td>
                <td th:text="${ai.kunndoku}"></td>
                <td>
                    <button type="submit">이동하기</button>
                    <input type="hidden" th:name="id" th:value="${num.count}"/>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <br><br><br><br>
    <div th:replace="~{fragments/layout :: footer}"></div>
</div>

</body>
</html>